# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Dot-Net-Code-Tips/Dot-Net-Code-Tips/obj/Debug
/Dot-Net-Code-Tips/.vs/Dot-Net-Code-Tips/v15
